.cart{

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart h1{
    margin-top: 1em;
    font-size: 3.8rem;
}

.cart ul{
    width: 50%;
    margin-top: 2em;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.cart_container{
    border: 2px solid #ccc;
    margin-top: 1em;
    width: 100%;
    padding: 1em;
    border-left: none;
    border-right: none;
}

.cart_container-top{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.cart_container-bottom{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.cart_vacio{
    text-align: center;
    margin-top: 2em;
}

.cart_vacio p{
    margin-bottom: 1em;
    font-size: 2.5rem;
}

.cart_comprar{
    
    width: 100%;
    margin-top: 2em;
}

.cart_comprar_total{
    display: flex;
    justify-content: space-between;
}

.cart_btn-comprar{
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.cart_continuar-comprando p{
    margin-top: 1em;
    text-align: center;

}

.cart_container-form ul{
    flex: 0.6;
}
.cart_container-form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.cart_container-form form{
    flex: 0.4;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}

form input{
    padding: 1em;
    max-width: 350px;
    background: none;
    outline: none;
    border: 2px solid #ccc;
}

form p{
    font-size: 1.4rem;
    font-weight: 700;
}


.cart_container-form ul{
    flex: 0.5;
}

.cart_btn-remove{
    background: none;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(126, 8, 126);
    cursor: pointer;
}