.itemcount {
    width: 200px;
    margin-top: 2em;
}

.itemcount__display-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
}

.itemcount__btn {
    cursor: pointer;
}

.itemcount__add {
    margin-top: 1em;
    width: 100%;
    border: none;
    outline: none;
    padding: 1em;
    cursor: pointer;
    color: #000;
    font-size: 1rem;
    background: #fae09e;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae09e), to(#af9d6f));
    background: -moz-linear-gradient(top, #fae09e, #af9d6f);
    background: linear-gradient(to bottom, #fae09e, #af9d6f);
    color: #111111;
    text-decoration: none;
}

.itemcount__add:hover,
.itemcount__add:focus {
    border: 1px solid #fae09e;
    background: #ffffbe;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffbe), to(#d2bc85));
    background: -moz-linear-gradient(top, #ffffbe, #d2bc85);
    background: linear-gradient(to bottom, #ffffbe, #d2bc85);
    color: #111111;
    text-decoration: none;
}

.itemcount__add:active {
    background: #af9d6f;
    background: -webkit-gradient(linear, left top, left bottom, from(#af9d6f), to(#af9d6f));
    background: -moz-linear-gradient(top, #af9d6f, #af9d6f);
    background: linear-gradient(to bottom, #af9d6f, #af9d6f);
}