.header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
}

.header .header-nav {
    margin-left: 5em;
    width: 40%;
}

.header-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 1.25rem;
}

a {
    color: inherit;
    text-decoration: none;
}